body {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

h3 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 0;
    color: #121212;
}

input {
    border: none;
    border-bottom: 2px solid #DADADA;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    width: 30%;
    font-size: 15px;
    align-items: center;
    position: relative;
}

input:active {
    border: none;
}

footer {
    background-color: #0B0D17;
    padding: 30px;
    line-height: 0.3;
}

footer h2 {
    color: #FF5959;
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    padding-bottom: 20px;
}

footer h5 {
    color: white;
    text-align: center;
    font-weight: 300;
    font-size: 18px;
}

.header {
    background-image: url("images/donation9.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: relative;
    padding: 20% 0%;
    box-shadow: inset 0 0 0 2000px rgba(31, 30, 31, 0.428);
}

.header h1 {
    font-weight: 600;
    color: white;
    font-size: 60px;
    text-align: center;
    line-height: 0.4;
}

.header p {
    font-weight: 300;
    color: white;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}

.button {
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: #FF5959;
    padding: 10px 25px;
    border-radius: 5px;
}

.centered {
    padding-top: 30px;
    padding-left: 45%;
    padding-right: 42%;
}

.description {
    font-weight: 300;
    color: #707070;
    font-size: 15px;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 30px;
}

.center {
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
    margin: auto;
    width: 50%;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;

}


.money-box button {
    color: #707070;
    align-items: center;
    text-align: center;
    font-size: 25px;
    padding: 32px 35px;
    background-color: #FAFAFA;
    align-items: center;
    margin: 20px;
    border: none;
    font-weight: 600;
}

.money-box button:hover {
    border: 3px solid #FF5959;
    background-color: #FFEEEE;
    color: #FF5959;
}

.money-box button:active {
    border: 3px solid #FF5959;
    background-color: #FFEEEE;
    color: #FF5959;
}

.box-one {
    background-color: #4F9DA6;
    margin: 30px;
    padding: 30px;
    width: 500px;
}

.box-two {
    background-color: #FF5959;
    margin: 30px;
    padding: 30px;
    width: 500px;
}

.box-three {
    background-color: #FFF4D6;
    margin: 30px;
    padding: 30px;
    width: 500px;
}

.description-with-image {
    padding: 30px;

}

.description-with-image h3 {
    text-align: left;
    padding-bottom: 10px;
    padding-right: 50%;


}

.description-with-image p {
    color: #707070;
    padding-bottom: 30px;
}

.image-for-description img {
    width: 350px;
    height: 380px;
    padding: 30px;
    object-fit: cover;
    border-radius: 9%;
}

.group-input {
    display: inline-block;
    vertical-align: middle;
    position: static;
    padding: 20px 0px;
}

.group-input input {
    background-color: #D9D9D9;
    text-align: left;
    padding-left: 20px;
    height: 42px;
    width: 180px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: none;
    margin: none;
    margin-top: 45px;
}

.group-input button {
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: #FF5959;
    padding: 10px 25px;
    height: 42px;
    width: 140px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: none;
    border-color:transparent ;

}